body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f0;
  font-family: 'Pacifico', cursive;
}

/* Top nav styling of document - splash page */
nav {
  background-color: #c2c2a3;
  height: 40px;
  border-bottom: 1px solid black;
}

/* Track bin and choose tracks diplay styling - splash page */
.track-bin-display {
  text-align: center;
  padding-top: 39.5%;
}

.choose-tracks-display {
  padding-left: 39.5%;
}

.choose-button-display {
  padding-left: 5px;
  padding-right: 5px;
}

.choose-button-display:hover {
  color: white;
  background-color: black;
}
/* Picture (RR track) styling - splash page */
.img-track {
  height: 675px;
  width: 675px;
  opacity: 0.1;
}
.album1, .album2, .album3 {
  position: absolute;
  left: 250px;
  z-index: -1;
  height: 200px;
  width: 200px;
}

.album1 {
  top: 45px;
}

.album2 {
  bottom: 225px;
}

.album3 {
  bottom: 20px;
}

/* Bottom nav styling of document - splash page */
.nav-bottom {
  height: 40px;
  background-color: #6b6b47;
  position: fixed;
  width: 100%;
}

.nav-bottom-link {
  text-decoration: none;
  color: #c2c2a3;
}

a:hover {
  text-decoration: none;
  color: white;
}

/* Top nav styling on playlist page */
.playlist-top-nav{
  background-color: #c2c2a3;
  height: 150px;
  border-bottom: 1px solid black;
  color: white;
}

.playlist-display {
  padding-top: 5%;
  padding-left: 5%;
  text-shadow: 3px 2px #6b6b47;
}

/* Styling of album images on playlist page */
.row{
  padding-top: 200px;
  padding-left: 250px;

}
.album {
  max-height: 150px;
  max-width: 150px;
  padding: 10px;
}

/* Styling album bin on playlist page */
.album-bin-label {
  padding-top: 25px;
}

.bin-border {
  border: 1px solid black;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Styling buttons on playlist page */

.playlist-buttons-display {
  padding-top: 15px;
  padding-left: 38%;
}

.clear-button-display:hover {
  color: white;
  background-color: black;
}

.submit-button-display:hover {
  color: white;
  background-color: black;
}

@media (max-width:1000px){
  .album-1, .album-2, .album-3{
    display:none;
  }
}
